*.pyc
article/main.pdf
.cache/
.coverage
.eggs/
.idea/
build/
dist/
gsmodutils.egg-info/
htmlcov/
tests/cov_html/coverage_html.js
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_cliutils_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_exceptions_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils___init___py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_model_diff_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_project_config_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_project_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_scrumpy_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_tester_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_testutils_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_utils_py.html
tests/cov_html/_home_mbzjpg_repos_gsmodutils_gsmodutils_validator_py.html
tests/cov_html/index.html
tests/cov_html/jquery.ba-throttle-debounce.min.js
tests/cov_html/jquery.hotkeys.js
tests/cov_html/jquery.isonscreen.js
tests/cov_html/jquery.min.js
tests/cov_html/jquery.tablesorter.min.js
tests/cov_html/keybd_closed.png
tests/cov_html/keybd_open.png
tests/cov_html/status.json
tests/cov_html/style.css
tests/.coverage
tests/.coverage.*
cov_html/
article/*.log
article/*.bbl
article/*.bcf
article/*.blg
article/*.run.xml
article/*.aux
article/article.pdf
*.backup
*.whl
docs/_static
docs/_build
docs/_templates
.tox/*

